<div class="page-title white-text">
    <h4>
        <a href="#" class="white-text">Заказы</a>
        <i class="material-icons">keyboard_arrow_right</i>
        Добавить заказ
    </h4>
    <span>
        <button class="btn btn-small red">
          <i class="material-icons">delete</i>
        </button>
      </span>
</div>

<div class="row">
    <div class="col s12 l6">
        <div class="input-field">
            <input id="name" type="text" required>
            <label for="name">Откуда</label>
        </div>
        <div class="input-field">
            <input id="name" type="text" required>
            <label for="name">Куда</label>
        </div>
        <div class="input-field">
            <input id="name" type="text" required>
            <label for="name">Когда</label>
        </div>
        <div class="input-field">
            <input id="name" type="text" required>
            <label for="name">Стоимость</label>
        </div>

        <div>
            <button class="waves-effect waves-light btn">
                Сохранить изменения
            </button>
        </div>
    </div>
</div>


