<div class="page-title white-text">
    <h4>
        <a routerLink="/orders" class="white-text">Заказы</a>
        <i class="material-icons">keyboard_arrow_right</i>
        {{isNew ? 'Добавить': 'Редактировать'}} заказ
    </h4>
    <span>
        <button class="btn btn-small red">
          <i class="material-icons">delete</i>
        </button>
      </span>
</div>

<div class="row">
    <form class="center" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="input-field">
            <input id="way_start" 
            type="text" 
            class="white-text"
            formControlName="way_start"
            [ngClass]="{'invalid': form.get('way_start').invalid && form.get('way_start').touched}">
            <label for="way_start">Откуда</label>
            <span class="helper-text red-text" 
                *ngIf="form.get('way_start').invalid && form.get('way_start').touched">
            Не задана начальная точка маршрута
            </span>
        </div>
        <div class="input-field">
            <input id="way_end"
             type="text" 
              class="white-text"
              formControlName="way_end"
            [ngClass]="{'invalid': form.get('way_end').invalid && form.get('way_end').touched}">
            <label for="way_end">Куда</label>
            <span class="helper-text red-text" 
                *ngIf="form.get('way_end').invalid && form.get('way_end').touched">
            Не задана конечная точка маршрута
            </span>
        </div>
        <div class="input-field">
            <input id="time_created" type="text"  class="white-text"
            formControlName="time_created"
            [ngClass]="{'invalid': form.get('time_created').invalid && form.get('time_created').touched}">
            <label for="time_created">Когда</label>
            <span class="helper-text red-text" 
                *ngIf="form.get('way_end').invalid && form.get('way_end').touched">
            Не указано время выезда
            </span>
        </div>
        <div class="input-field">
            <input id="price" type="number"  class="white-text"
            formControlName="price"
            [ngClass]="{'invalid': form.get('price').invalid && form.get('price').touched}">
            <label for="price">Стоимость</label>
            <span class="helper-text red-text" 
                *ngIf="form.get('price').invalid && form.get('price').touched">
            Не указана цена поездки
            </span>
        </div>

        <div>
            <button 
            type="submit"
            class="waves-effect waves-light btn"
            [disabled]="form.invalid || form.disabled"
            >
                Сохранить изменения
            </button>
        </div>
    </form>
</div>


